<!--<div ng-controller="cartCtrl">-->

	<div class="productimg">
		<img src="./app/home/img/products.jpeg">
	</div>
	<div class="blackLine"></div>
	
	<div class="modal fade bs-buy-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">


				<div id="removeitem" class="addnew">
					<h3>Thank you for your purchace!</h3>
				</div>
				<div class="addbutton">
					<div id="removeitmebtn" class="close">
						<button id="newbtn" data-toggle="modal" data-target=".bs-buy-modal-sm" class="btn log">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="itemscontained cartcontained">
		<div>
			<span class="totaltext">Your Total {{ total | currency: "$"}}</span>
			<button  data-toggle="modal" data-target=".bs-buy-modal-sm" class="btn" id="paypalbtn"><img src="./app/home/img/paypal-button.png" alt=""></button>
		</div>
		<h1 class="yourcart">Your Cart</h1>
		<div class="itemscontained">
		<ul ng-repeat="item in cartItems | orderBy: 'itemtype' track by $index">
			<div class="eachitem">
				<li class="itemimgli"><img ng-src="{{item.imgpath}}" alt=""></li>
				<li class="center">{{ item.itemtype }} </li>
				<li class="center crop wrapper">{{ item.iteminfo }} <span class="tooltip">{{ item.iteminfo }}</span></li>
				<li class="price center">{{ item.price | currency: "$" }}</li>
				<button id="cartremovebtn" class="btn log" ng-click="remove(item, $index)">Remove Item</button>
		</ul>
		</div>
		</div>
	</div>
<!--</div>-->



<footer class="footer"><span class="laruafbspan">Vist Wishing Forest on<a class="laurafb" target="new" href="https://www.facebook.com/WishingForest/?pnref=story"><i class="fa fa-facebook-square"></i></a> </span><br><span class="leeannfbspan">Images courtesy of <a target="new" href="http://www.imagesosweetphotography.com/">ImageSoSweePhotography</a><a class="photographyfb"target="new" href="https://www.facebook.com/ImageSoSweet-Photography-113527518714725/"><i class="fa fa-facebook-square"></i></a></span></footer>