html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
	/*background-color: #cdecf7;*/
}

button {
    outline: none !important;
}


.menu {
	/*height: 45px;*/
	width: 100%;
	background-color: black;
	position: fixed;
	padding-top: 13px;
	font-family: Montserrat;
	list-style: none;
    margin-bottom: 10px;
    z-index: 1;
    font-family: 'Philosopher', sans-serif;
	
}

.laurafb{
    /*float: right;*/
    margin-left: 5px;
    margin-right: 40px;
}

.fa-shopping-cart {
    margin-top: -10px;
    padding-bottom: 5px;
}

.footer{
    width: 100%;
    height: 45px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 7px;
    clear: both;
    margin: 0 auto;
}

/*.hrfoot{
    border-left: 5px;
}*/
.photographyfb {
    margin-left: 10px;

}

button {
    border-radius: 15px;
    background-color: white;
}

 .headerimg img {
	height: 300px;
	width: 100%;
	padding-top: 20px;
	margin-bottom: -5px;
}

.imgbot {
	width: 100%;
	height: 2.5px;
	background-color: black;
}
img {
    margin: 0 auto;
}
a:hover {
    text-decoration: underline;
    
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}
a:link {
    /*text-decoration: none;*/
    color: white;
}
a:focus {
    text-decoration: none;
}


li a {
	color: white;
	text-decoration: none;
	padding-left: 20px;
}

.fa-shopping-cart {
    float: right;
}

.cartNum {
    float: right;
    margin-right: 20px;
    padding-left: 7px;
}
/*Home Page*/
.aboutus {
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
}

.treeOfLife {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}



p, h1 {
    text-align: center;
    line-height: 30px;
}
.fourimgs{
    width: 62%;
    height: 250px;
    background-color: black;
    text-align: center;
    /*margin-top: 70px;*/
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: 40px;

}

.fourimgs img {
    width: 200px;
    height: 200px;
    margin: 5px;
}

/*Carousel*/

@charset 'UTF-8';

.slideimg {
    position: relative;
    /*margin-top: 10px;*/
    /*width: 100%;*/
}

.slideimg img {
    width: 100%;
    height: auto;
    margin-top: 45px;
}

@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/fonts/slick.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;


    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}




/*Products*/

.filter {
    margin-left: 60px;
    margin-bottom: 20px;
}

.productimg img {
    width: 100%;
    margin-top: 45px;
}
.containproducts {
    margin-top: 30px;
}

li {
    list-style: none;
}
.price{
    margin-bottom: 10px;
}

.top {
    margin-right: 10px;
    margin-bottom: 30px;
}
.one {
    margin-left: 30px;
    
}

.itemimgli {
    height: 300px;
    width: 200px;
    display: block;
    margin: 0 auto 10px auto;
    position: relative;
    /*text-align: */
}

.eachitem {
    float: left;
    padding: 20px 10px;
    /*margin-bottom:30px;*/
    /*padding: 0 auto 30 auto;*/


    
}


.fa-2x {
    font-size: 1.5em;
    
}
a {
    color: #4f2f2d;
}

a:hover {
    color: white;
}

.requestitem {
    width: 550px;
    height: 600px;
    /*border: 1px inset white;*/
    /*border-radius: 10px;*/
    margin: 0 auto;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*padding: 20px;*/
}

/*.requestitem h3 {
    margin-left: 100px;
    width: 300px;
}*/

textarea {
    resize: none;
    overflow: auto;
    /*margin-right: 5px;*/
}

.requestitem img {
    width: 200px;
    height: 300px;
    margin-left: 25px;
    margin-bottom: 20px;
}
.requestMessage {
    float: left;
}

.requestbutton {
    /*margin: 20 auto;*/
     margin-top: 20px;
    margin-left: 210px;
}

.close {
    float: right;
    opacity: 1;
    margin-top: 12px;
    margin-right: 12px;

}

.close #newbtn {
    background-color: white;
}

.requestitem h3 {
    margin-left: 110px;
    margin-bottom: 20px; 
    width: 300px;
}

/*Cart*/

.productimg img{
    margin-top: 40px;
}

.blackLine{
    width: 100%;
    height: 5px;
    background-color: black;
}

.cartcontained {
    padding-left: 20px;
}
/*
.cartcontained img {
    width: 200px;
    height: 200px;
}*/

.paypalBtn img {
    width: 160px;
}

/*Admin */

.container {
    background-image: url("./app/home/img/woods.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
}



.log {
    border: 1px solid #b2b0b0;
        background-color: #efefef;
    /*background-color: #CDECF7;*/
}


/*Manage*/
/*.manage {
    margin-right: 20px;
    margin-left: 20px;
    
}*/


.logout {
    float: right;
}

.addnew {
    width: 300px;
    height: 465px;
    /*border: 1px inset white;*/
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.addnew h3 {
    margin-left: 35px;
    margin-bottom: 20px;
}

td {
  padding:10px; 
}

tr {
    margin-right: 20px;
}

.addbutton {
    margin-top: 20px;
    margin-left: 70px;
}

#newbtn {
background-color: #CDECF7;
/*border: 1px solid #b2b0b0;*/
}

.itemscontained img {
    width: 200px;
    vertical-align: middle;
    position: absolute;
    bottom: 0px;
    border: 1px double #b2b0b0;
    /*border-style: double*/
}

#removeitem h3{
    margin-top: 0px;
}

#removeitmebtn {
    margin-right: 80px;
    margin-top: -70px;
    /*height: 100px;*/
}

#removeitem {
    height: 200px;
}

.removebtn {
    margin-left: -30px;
    margin-top: -70px;
    margin-right: 0px;
    float: left;
    background-color: #CDECF7;
    border: 1px solid #b2b0b0;
    width: 100px;
    color: black;
}
/*Requests*/

.reqitems img {
    width: 200px;
    height: 200px;
}

.requestdelete{
    width: 100px;
}

/*Contact Me*/
.contactwrapper {
    background-image: url('./app/home/img/kimi2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.formcontact {
    width: 44%;
    padding: 20px;
    padding-top: 100px;
    /*border: 1px solid #b2b0b0;*/
}

.contactform input {
    width: 400px;
}


.contactform div{
    padding: 5px;
}