<div ng-controller="productCtrl">
<div class="productimg">
		<img src="./app/home/img/bannar.jpg">
	</div>


	​
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-md">
			<div class="modal-content">

				<div class="close">
					<button id="newbtn" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn log">Close</button>
				</div>

				<form name="requestform">
					<div class="requestitem">
						<h3><strong>Request this item customized</strong></h3>
						<hr>
						<img ng-src="{{ itemToRequest.image }}" alt="">

						<div>
							Your Customizations:
							<textarea cols="40" rows="10" ng-model="itemToRequest.message" type="text" class="form-control" required></textarea>
						</div>

						<div>
							<input required ng-model="itemToRequest.item" type="hidden" class="form-control">
						</div>

						<div>
							Your Name:
							<input required ng-model="itemToRequest.name" type="text" class="form-control">
						</div>

						<div>
							Your Email:
							<input required ng-model="itemToRequest.email" type="text" class="form-control" name="email">
						</div>

						<div class="requestbutton">
							<button id="newbtn" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn log" ng-disabled="requestform.$invalid" ng-click="addRequest(itemToRequest)">Request Item</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div class="containproducts">

		<!--<select ng-model="sortOptions.itemtype">
			<option value="" selected>All</option>
			<option value="Windchimes">Wind chimes</option>
			<option value="Tree">Trees</option>
			<option value="SunCatchers">Sun Catchers</option>
			<option value="Pendant">Pendants</option>
			<option value="Earrings">Earrings</option>
		</select>-->
		
		<!--<select ng-model="sortOptions.itemtype">
			<option value="" selected>All</option>
			<option ng-repeat="item in items" value="{{item.itemtype}}">{{item.itemtype}}</option>
			
		</select>-->
		
		<select ng-options="type as type for type in itemTypes" ng-model="sortOptions.itemtype">
			<option value="" selected>All</option>
		</select>
		
		<hr>
		
		<div class="itemscontained">
			<ul ng-repeat="item in items | filter: sortOptions">
				<div class="eachitem"><li><img ng-src="{{ item.imgpath }}" alt=""></li>
				<li><strong>Type:</strong> {{ item.itemtype }} </li>
				<li><strong>Details:</strong> {{ item.iteminfo }} </li>
				<li><strong>Available:</strong> {{ item.available }}</li>
				<li><strong>Price:</strong> {{ item.price | currency : "$" }}</li>
				<button class="btn log" ng-click="addCart(item)">Add to Cart</button>
				<button class="btn log" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="requestShow(item)">Customize Item</button>
				</div>
			</ul>
		</div>
	</div>
</div>


<!--ng-show="requestbutton"-->