<div class="manage">

	<div class="productimg">
		<img src="./app/home/img/forest.jpg">
	</div>

	<div class="blackLine"></div>

	<div class="logout">
		<button class="btn log" data-toggle="modal" data-target=".bs-example-modal-lg">Add New Items</button>
		<button ng-click="out()" class="btn log">Logout</button>
		<button class="btn log" id="last" ng-click="signup()">Signup</button>
	</div>

	<div>
		<a href="/#/request"><strong>Requests</strong></a>
	</div>


	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<div class="close">
					<button id="newbtn" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn"><i class="fa fa-times fa-lg"></i></button>
				</div>
				<form name="addnewform">
					<div class="addnew">
						<span><strong>Add a new Item!</strong></span>
						<hr>
						<table>
							<tbody class="inputs">
								<tr>
									<td><strong>Type: </strong></td>
									<td>
										<input ng-model="itemToAdd.itemtype" required type="text" name="types" autocomplete="on" class="form-control">
									</td>
								</tr>
								<tr>
									<td><strong>Details: </strong></td>
									<td>
										<input ng-model="itemToAdd.iteminfo" required type="text" class="form-control">
									</td>
								</tr>
								<tr>
									<td><strong>Available: </strong></td>
									<td>
										<input ng-model="itemToAdd.available" required type="text" name="available" class="form-control">
									</td>
								</tr>
								<tr>
									<td><strong>Price: </strong></td>
									<td>
										<input ng-model="itemToAdd.price" required type="text" class="form-control">
									</td>
								</tr>
								<tr>
									<td> <strong>Image:</strong></td>
									<td>
										<input ng-model="itemToAdd.imgpath" required class="form-control" type="text">
									</td>
								</tr>
							</tbody>
						</table>
						<div class="addbutton">
							<button id="newbtn" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn log" ng-disabled="addnewform.$invalid"
							ng-click="newItem()">Add New Item</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>



	<div class="modal fade bs-edit-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">

				<div class="close">
					<button id="newbtn" data-toggle="modal" data-target=".bs-edit-modal-lg" class="btn"><i class="fa fa-times fa-lg"></i></button>
				</div>


				<div class="addnew">
					<span id="edititem"><strong>Edit Item!</strong></span>
					<hr>
					<table>
						<tbody class="edit">
							<tr>
								<td><strong>Type: </strong></td>
								<td>
									<input ng-model="itemToEdit.itemtype" required type="text" name="types" autocomplete="on" class="form-control">
								</td>
							</tr>
							<tr>
								<td><strong>Details: </strong></td>
								<td>
									<input ng-model="itemToEdit.iteminfo" type="text" class="form-control">
								</td>
							</tr>
							<tr>
								<td><strong>Available: </strong></td>
								<td>
									<input ng-model="itemToEdit.available" type="text" class="form-control" name="available">
								</td>
							</tr>
							<tr>
								<td><strong>Price: </strong></td>
								<td>
									<input ng-model="itemToEdit.price" type="text" class="form-control">
								</td>
							</tr>
							<tr>
								<td><strong>Image URL: </strong></td>
								<td>
									<input ng-model="itemToEdit.imgpath" type="text" class="form-control">
								</td>
							</tr>
						</tbody>
					</table>
					<div class="addbutton" id="edit">
						<button id="newbtn" data-toggle="modal" data-target=".bs-edit-modal-lg" class="btn log" ng-click="updateItem()">Edit Item</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade bs-remove-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">


				<div id="removeitem" class="addnew">
					<h3>Are you sure you want to delete this item from the Database?</h3>
				</div>
				<div class="addbutton">
					<button id="newbtn" data-toggle="modal" data-target=".bs-remove-modal-sm" class="removebtn form-control" ng-click="removeItem()">Delete Item</button>
					<div id="removeitmebtn" class="close">
						<button id="newbtn" data-toggle="modal" data-target=".bs-remove-modal-sm" class="btn log">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div>
		<div class="itemscontained">
			<ul ng-repeat="item in items">
				<div class="eachitem">
					<li class="itemimgli"><img ng-src="{{ item.imgpath }}" alt=""></li>
					<li class="center"> {{ item.itemtype }} </li>
					<li class="center crop wrapper">{{ item.iteminfo }} <span class="tooltip">{{ item.iteminfo }}</span></li>
					<li class="center"><strong>Available:</strong> {{ item.available }}</li>
					<li class="center"> {{ item.price | currency : "$" }}</li>
					<button class="btn log movebtn" data-toggle="modal" data-target=".bs-edit-modal-lg" ng-click="editshow(item)">Edit Item</button>
					<button class="btn log" data-toggle="modal" data-target=".bs-remove-modal-sm" ng-click="removeId(item)">Delete</button>
				</div>
			</ul>
		</div>
	</div>

	<footer class="footer"></footer>