<div class="contactwrapper">
	<div class="formcontact">
		<form name="contactform">
			<div>Your Name:</div>
			<div>
				<input required ng-model="message.name" type="text" class="form-control">
			</div>
			<div>Your Email:</div>
			<div>
				<input required ng-model="message.email" type="text" name="email" class="form-control">
			</div>
			<div>Message:</div>
			<div>
				<textarea required ng-model="message.message" cols="80" rows="15" type="text" class="form-control"></textarea>
			</div>
			<div>
				<button ng-disabled="contactform.$invalid" class="btn log" ng-click="sendContact(message)">Send</button>
			</div>
		</form>
	</div>
</div>

<!--
<div>
	<div>
		<textarea cols="80" rows="15" type="text" class="form-controll">Your Name:  Your Email:</textarea>
	</div>
</div>-->